{% extends "portfolio_website/base_generic.html" %}

{% block content %}
  <h1>About</h1>
  <p>Welcome to my Data Engineering Portfolio website. Here you will find a collection of my latest and most significant projects in the field of Data Engineering.</p>
  <p>I am a seasoned Data Engineer with a passion for building scalable data pipelines and architectures. I have experience in a variety of tools and technologies such as Python, SQL, Hadoop, Spark, and more.</p>
  <p>Feel free to browse through my portfolio and don't hesitate to reach out if you have any questions or opportunities.</p>
{% endblock %}